---
---

@import "{{ site.theme }}";

div.shell {
  width: auto;
}

code {
  white-space: pre-wrap;
}

header, footer {
  max-width: 900px;
  background: none;
}

section#main_content {
  margin-top: 20px;
}
