---
---

@import "{{ site.theme }}";

div.shell {
  width: 900px;
}

code {
  overflow: hidden;
}

header, footer {
  max-width: 900px;
  background: none;
}

section#main_content {
  margin-top: 20px;
}
